<div class="page-header">
  <h3 class="page-title">
    Sitedeki Formlar
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Formlar</a></li>
      <li class="breadcrumb-item active" aria-current="page">Form Elemanları</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Giriş Yapma Formu</h4>
        <p class="card-description">
          Basit Tasarımlı Giriş Yapma Formu
        </p>
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInputUsername1">E-Posta Adresi</label>
            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="furkancimili@gmail.com">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Şifre</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifre">
          </div>
          <div class="form-check form-check-flat form-check-primary">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Hatırla Beni
              <i class="input-helper"></i>
            </label>
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-4">Oturum Aç</button>
          
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Kayıt Ol Formu</h4>
        <p class="card-description">
          Basit Tasarımlı Kayıt Ol Formu
        </p>
        <form class="forms-sample">
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Ad Soyad</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="exampleInputUsername2" placeholder="furkancimili">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="20191132039furkancimili@gmail.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Telefon Numarası</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="exampleInputMobile" placeholder="+90 (537)361 05 80">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Şifre</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Şifre">
            </div>
          </div>
          
          <div class="form-check form-check-flat form-check-primary">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Tüm Hüküm ve Koşulları kabul ediyorum
              <i class="input-helper"></i>
            </label>
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-4">Kayıt Ol</button>

        </form>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Öneri Ve Şikayetleriniz</h4>
        <p class="card-description">
          Öneri Ve Şikayet Formu
        </p>
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInputName1">Kullanıcı Adınız</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="furkancimili">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Email adresiniz</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="20191132039furkancimili@gmail.com">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Kime</label>
              <select class="form-control" id="exampleSelectGender">
                <option>Yönetici</option>
                <option>Yazar</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleSelectGender">Konu İçerği</label>
                <select class="form-control" id="exampleSelectGender">
                  <option>Şikayet</option>
                  <option>Öneri</option>
                  <option>Diğer</option>
                </select>
              </div>
          <div class="form-group">
            <label>Yüklemek İstediğiniz Dosyalar</label>
            <input type="file" name="img[]" class="file-upload-default">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Yüklenecek Dosyalar">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-gradient-warning" type="button">Yükle</button>
              </span>
            </div>
          </div>
      
          <div class="form-group">
            <label for="exampleTextarea1">İletmek İstediğiniz Mesaj(İsteğe Bağlı)</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-gradient-success mr-2">Gönder</button>
          <button class="btn btn-danger">Geri Dön</button>
        </form>
      </div>
    </div>
  </div>
 
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">İş Başvuru Formu</h4>
        <form class="form-sample">
          <p class="card-description">
            İş Başvurusu İçin Doldurulması Gereken Bilgiler
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Adınız</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Soyadınız</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cinsiyetiniz</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option></option>
                    <option>Kadın</option>
                    <option>Erkek</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Doğum Tarihiniz</label>
                <div class="col-sm-9">
                  <input class="form-control" placeholder="gg/aa/yyyy"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Öğrenim Durumunuz</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option></option>
                    <option>İlkokul Mezunu</option>
                    <option>Ortaokul Mezunu</option>
                    <option>Lise Mezunu</option>
                    <option>Üniversite Mezunu</option>
                  </select>
                </div>
              </div>
            </div>
           
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">İş Deneyiminiz</label>
                  <div class="col-sm-9">
                    <select class="form-control">
                      <option></option>
                      <option>Tecrübesiz</option>
                      <option>1-2 Yıl</option>
                      <option>3-4 Yıl</option>
                      <option>5+ Yıl</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Başvurduğunuz Alan</label>
                  <div class="col-sm-9">
                    <select class="form-control">
                      <option></option>
                      <option>Yazarlık</option>
                      <option>Grafik Tasarım</option>
                      <option>Veri Tabanı</option>
                      <option>Sosyal Medya Gönderileri</option>
                    </select>
                  </div>
                </div>
              </div>
              
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Çalışma Süreniz</label>
                <div class="col-sm-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                      Yarı Zamanlı
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                      Sürekli
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Adresiniz
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Adres 1</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Adres 2</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">İl</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">İlçe</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Posta Kodu</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Country</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option></option>
                    <option>TÜRKİYE</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-gradient-success mr-2">Gönder</button>
          <button class="btn btn-danger">İptal Et</button>
        </form>
      </div>
    </div>
  </div>
</div>