  <div class="row">
    <div class="col-md-8">
      <h4>Kayıtlar</h4>
      <table class="table">
        <thead>
          <th>Adı Soyadı</th>
          <th>E-Posta</th>
          <th>Telefon</th>
          <th>Şifresi</th>
          <th>Kayit Tarihi</th>
          <th>Güncelleme Tarihi</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let kullanici of kullanicilar">
            <td>{{kullanici.adsoyad}}</td>
            <td>{{kullanici.mail}}</td>
            <td>{{kullanici.tel}}</td>
            <td>{{kullanici.parola}}</td>
            <td>{{kullanici.kayTarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{kullanici.duzTarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><button class="btn btn-outline-info" (click)="KullaniciSil(kullanici)">Sil</button></td>             
          </tr>
        </tbody>
      </table>
      <hr>
    </div>
    <div class="col-md-4">
      <h4>Kayıt Ekle</h4>
      <hr>
      <form #frm="ngForm" (submit)="KullaniciKayitYap()">
        <div class="form-group">
          <label>Adı Soyadı</label>
          <input type="text" class="form-control" name="adsoyad" [(ngModel)]="secKullanici.adsoyad" required>
          <input type="hidden" class="form-control" name="key" [(ngModel)]="secKullanici.key">
        </div>        
          <input type="hidden" class="form-control" name="key" [(ngModel)]="secKullanici.key">  
        <div class="form-group">
          <label>E-Posta</label>
          <input type="text" class="form-control" name="mail" [(ngModel)]="secKullanici.mail" required>
        </div>
        <div class="form-group">
          <label>Telefon</label>
          <input type="text" class="form-control" name="tel" [(ngModel)]="secKullanici.tel" required>
        </div>
        <div class="form-group">
          <label>Şifresi</label>
          <input type="text" class="form-control" name="parola" [(ngModel)]="secKullanici.parola" required>
        </div>
        <div class="form-group">
          <input type="submit" value="Kaydet" class="btn btn-outline-success" [disabled]="frm.invalid">
          <button class="btn btn-outline-danger" (click)="Vazgec()">Temizle</button>
        </div>
      </form>
     
      <div [ngClass]="sonuc.islem ? 'alert alert-success':'alert alert-danger'" *ngIf="sonuc.mesaj?.length>0">
        {{sonuc.mesaj}}</div>
    </div>
  </div>
  
 