<div class="page-header">
  <h3 class="page-title">
    Total Veri Tabloları
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Tablolar</a></li>
      <li class="breadcrumb-item active" aria-current="page">Total Veri Tabloları</li>
    </ol>
  </nav>
</div>
<div class="col-lg-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Yazarların Verileri(Total)</h4>
  
      <div class="table-responsive pt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
               Adı Soyadı
              </th>
              <th>
                Kategorisi
              </th>
              <th>
                Yazdığı Makale Sayısı
              </th>
              <th>
                Makale Okunma Sayısı
              </th>
              <th>
                Üyelik Tarihi
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-info">
              <td>
                1 &nbsp; <img src="https://scontent.fadb3-2.fna.fbcdn.net/v/t1.0-9/131391280_2531239417020109_813916734117414682_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_ohc=QpvG6E8KKggAX_vHTM9&_nc_ht=scontent.fadb3-2.fna&oh=508c94e0897a76d0cddf0e8304faa460&oe=60145FEB" class="mr-2" alt="image">
              </td>
              <td>
                Furkan Çimili
              </td>
              <td>
                <label class="badge badge-gradient-primary">Yazılım</label>
              </td>
              <td>
                35
              </td>
              <td>
                987,234
              </td>
              <td>
                22 Eylül 2015
              </td>
            </tr>
            <tr class="table-warning">
              <td>
              2 &nbsp;  <img src="assets/images/faces/face4.jpg" class="mr-2" alt="image">      
              <td>
                Oğuz Ataç
              </td>
              <td>
                 <label class="badge badge-gradient-warning">Grafik</label> 
              </td>
              <td>
              10
              </td>
              <td>
               234,256
              </td>
              <td>
                2 Ocak 2016
              </td>
            </tr>
            <tr class="table-danger">
              <td>
                3  &nbsp; <img src="assets/images/faces/face2.jpg" class="mr-2" alt="image">
              </td>
              <td>
                Ayşe Nur Çiçek
              <td>
                <label class="badge badge-gradient-danger">Robotik Kodlama</label>
              </td>
              <td>
                30
              </td>
              <td>
                875,234
              </td>
              <td>
                8 Aralık 2016
              </td>
            </tr>
            <tr class="table-success">
              <td>
                4 &nbsp; <img src="assets/images/faces/face3.jpg" class="mr-2" alt="image">
              </td>
              <td>
                Ahmet Sarıçoban
              <td>
                <label class="badge badge-gradient-success">Donanım</label>              
              <td>
                25
              </td>
              <td>
                654.224
              </td>
              <td>
                15 Haziran 2017
              </td>
            </tr>
            <tr class="table-primary">
              <td>
                5 &nbsp; <img src="assets/images/faces/face6.jpg" class="mr-2" alt="image"> 
              </td>
              <td>
                Dilek Yavuz
              </td>
              <td>
                <label class="badge badge-gradient-dark">Yapay Zeka</label> 
              </td>
              <td>
                15
              </td>  
               <td>
                402,351
              </td>
              <td>
                18 Ekim 2018
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
&nbsp;
&nbsp;
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Kategorilere Göre Makalelere Gelen Beğeni Tablosu(Total)</h4>
      
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Kategori</th>
              <th>Beğeni Sayısı(Total)</th>
              <th>Geçen Yıllara Göre Oranı</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <label class="badge badge-gradient-primary">Yazılım</label> &nbsp;</td>
              <td>14.324</td>
              <td class="text-success">%13,12 <i class="mdi mdi-arrow-up"></i></td>         
            </tr>
            <tr>
              <td><label class="badge badge-gradient-danger">Robotik Kodlama</label> &nbsp;</td>
              <td>12.854</td>
              <td class="text-success">%15,12 <i class="mdi mdi-arrow-up"></i></td>                  
            </tr>
            <tr>
              <td>    <label class="badge badge-gradient-success">Donanım</label> &nbsp;</td>
              <td>5.923</td>
              <td class="text-danger"> %12,10 <i class="mdi mdi-arrow-down"></i></td>      
            </tr>
            <tr>
              <td> <label class="badge badge-gradient-dark">Yapay Zeka</label>&nbsp;</td>
              <td>9.234</td>
              <td class="text-success"> %35.12 <i class="mdi mdi-arrow-up"></i></td>
             
            </tr>
            <tr>
              <td><label class="badge badge-gradient-warning">Grafik</label> &nbsp;</td>
              <td>2.547</td>
              <td class="text-danger"> %15.23 <i class="mdi mdi-arrow-down"></i></td>                
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
&nbsp;
&nbsp;
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Kategorilere Göre Makalelere Gelen Yorum Tablosu(Total)</h4>
      
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Kategori</th>
              <th>Yorum Sayısı(Total)</th>
              <th>Geçen Yıllara Göre Oranı</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <label class="badge badge-gradient-primary">Yazılım</label> &nbsp;</td>
              <td>4.324</td>
              <td class="text-success">%11,32 <i class="mdi mdi-arrow-up"></i></td>         
            </tr>
            <tr>
              <td><label class="badge badge-gradient-danger">Robotik Kodlama</label> &nbsp;</td>
              <td>3.854</td>
              <td class="text-success">%8,12 <i class="mdi mdi-arrow-up"></i></td>                  
            </tr>
            <tr>
              <td><label class="badge badge-gradient-success">Donanım</label> &nbsp;</td>
              <td>1.923</td>
              <td class="text-danger"> %12.36 <i class="mdi mdi-arrow-down"></i></td>      
            </tr>
            <tr>
              <td> <label class="badge badge-gradient-dark">Yapay Zeka</label>&nbsp;</td>
              <td>2.543</td>
              <td class="text-success"> %5.23 <i class="mdi mdi-arrow-up"></i></td>
             
            </tr>
            <tr>
              <td><label class="badge badge-gradient-warning">Grafik</label> &nbsp;</td>
              <td>845</td>
              <td class="text-danger"> %18.85<i class="mdi mdi-arrow-down"></i></td>                
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Kullanıcıların Favori Yazarları</h4>
        <p class="card-description">
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Kullanıcı
                </th>
                <th>
                  Adı Soyadı
                </th>
                <th>
                  Favori Oranı
                </th>
                <th>
                  Aldığı Favori Sayısı
                </th>
                <th>
                 Sıralama Değişikliği
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-1">
                  <img src="https://scontent.fadb3-2.fna.fbcdn.net/v/t1.0-9/131391280_2531239417020109_813916734117414682_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_ohc=QpvG6E8KKggAX_vHTM9&_nc_ht=scontent.fadb3-2.fna&oh=508c94e0897a76d0cddf0e8304faa460&oe=60145FEB" alt="image"/>
                </td>
                <td>
                  Furkan Çimili
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  1.234
                </td>
                <td class="text-warning"><b>Sabit</b>
                  &nbsp; <i class="mdi mdi-arrow-right-bold mdi-24px"></i></td> 

              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face2.jpg" alt="image"/>
                </td>
                <td>
                 Ayşe Nur Çiçek
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                   585
                </td>
                <td class="text-success"><b>1 Sıra</b>
                  &nbsp; <i class="mdi mdi-arrow-up-bold mdi-24px"></i></td> 

              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face3.jpg" alt="image"/>
                </td>
                <td>
                  Ahmet Sarıçoban
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  458   
                </td>
                <td class="text-danger"><b>1 Sıra</b>
                  &nbsp;<i class="mdi mdi-arrow-down-bold mdi-24px"></i></td> 

              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face6.jpg" alt="image"/>
                </td>
                <td>
                  Dilek Yavuz
                  
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  325
                </td>
                <td class="text-success"><b>1 Sıra</b>
                  &nbsp; <i class="mdi mdi-arrow-up-bold mdi-24px"></i></td> 
  
              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face4.jpg" alt="image"/>
                </td>
                <td>
                  Oğuz Ataç
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  150
                </td>
                <td class="text-danger"><b>1 Sıra</b>
                  &nbsp;<i class="mdi mdi-arrow-down-bold mdi-24px"></i></td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Kullanıcıların Favori Kategorileri</h4>
        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Kategori
                </th>
                <th>
                  Favori Oranı
                </th>
                <th>
                  Ziyaret Sayısı
                </th>
                <th>
                  Sıralama Değişikliği
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  <label class="badge badge-gradient-primary">Yazılım</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  1.231.251
                </td>
                <td class="text-warning"><b>Sabit</b>
                  &nbsp; <i class="mdi mdi-arrow-right-bold mdi-24px"></i></td> 
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  <label class="badge badge-gradient-danger">Robotik Kodlama</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  1.012.542
                </td>
                <td class="text-success"><b>1 Sıra</b>
                  &nbsp;<i class="mdi mdi-arrow-up-bold mdi-24px"></i></td> 
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  <label class="badge badge-gradient-success">Donanım</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="70" aria-valuemin="70" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  835.645
                </td>
                <td class="text-danger"><b>1 Sıra</b>
                  &nbsp;<i class="mdi mdi-arrow-down-bold mdi-24px"></i></td> 
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  <label class="badge badge-gradient-dark">Yapay Zeka</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                   562.487
                </td>
                <td class="text-warning"><b>Sabit</b>
                  &nbsp; <i class="mdi mdi-arrow-right-bold mdi-24px"></i></td> 
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  <label class="badge badge-gradient-warning">Grafik</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  320,154
                </td>
                <td class="text-warning"><b>Sabit</b>
                  &nbsp; <i class="mdi mdi-arrow-right-bold mdi-24px"></i></td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Kullanıcıların Favori Makaleleri</h4>
        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Makale Adı
                </th>
                <th>
                  Favori Oranı
                </th>
                <th>
                  Okunma Sayısı
                </th>
                <th>
                  Sıralama Değişikliği
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  <label class="badge badge-gradient-primary">Yazılım İle Tanışın</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 84%" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  125.123
                </td>
                <td class="text-warning"><b>Sabit</b>
                  &nbsp; <i class="mdi mdi-arrow-right-bold mdi-24px"></i></td> 
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  <label class="badge badge-gradient-danger">Robotik Kodlamanın Geleceği</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  101.123
                </td>
                <td class="text-success"><b>3 Sıra</b>
                  &nbsp;<i class="mdi mdi-arrow-up-bold mdi-24px"></i></td> 
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  <label class="badge badge-gradient-success">Donanım ile Yeni Gelişmeler</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="70" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  85.645
                </td>
                <td class="text-danger"><b>1 Sıra</b>
                  &nbsp;<i class="mdi mdi-arrow-down-bold mdi-24px"></i></td> 
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  <label class="badge badge-gradient-dark">Yapay Zekanın Kullanım Alanları</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                   54.234
                </td>
                <td class="text-success"><b>1 Sıra</b>
                  &nbsp; <i class="mdi mdi-arrow-up-bold mdi-24px"></i></td> 
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  <label class="badge badge-gradient-warning">Adobe Photoshop ile Tasarla</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  32,154
                </td>
                <td class="text-danger"><b>3 Sıra</b>
                  &nbsp; <i class="mdi mdi-arrow-down-bold mdi-24px"></i></td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 