<div class="container mt-12">
<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon badge-gradient-success text-white mr-2">
      <i class="mdi mdi-table-large menu-icon"></i>                 
    </span>
    <button class=" btn-gradient-success">Site Verileriyle Oluşturulmuş Yazar,Makale Tablo Paneli</button>
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Tablolar</a></li>
      <li class="breadcrumb-item active" aria-current="page">Total Veri Tabloları</li>
    </ol>
  </nav>
</div>
<div class="col-lg-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Yazarların Verileri(Total)</h4>
  
      <div class="table-responsive pt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
               Adı Soyadı
              </th>
              <th>
                Kategorisi
              </th>
              <th>
                Yazdığı Makale Sayısı
              </th>
              <th>
                Makale Okunma Sayısı
              </th>
             
            </tr>
          </thead>
          <tbody>
            <tr class="table-info">
              <td>
                1 &nbsp; <img src="https://scontent.fadb3-2.fna.fbcdn.net/v/t1.0-9/131391280_2531239417020109_813916734117414682_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_ohc=QpvG6E8KKggAX_vHTM9&_nc_ht=scontent.fadb3-2.fna&oh=508c94e0897a76d0cddf0e8304faa460&oe=60145FEB" class="mr-2" alt="image">
              </td>
              <td>
                Furkan Çimili
              </td>
              <td>
                <label class="badge badge-gradient-primary">Yazılım</label>
              </td>
              <td>
                35
              </td>
              <td>
                987,234
              </td>
             
            </tr>
            <tr class="table-warning">
              <td>
              2 &nbsp;  <img src="assets/images/faces/face4.jpg" class="mr-2" alt="image">      
              <td>
                Oğuz Ataç
              </td>
              <td>
                 <label class="badge badge-gradient-warning">Grafik</label> 
              </td>
              <td>
              10
              </td>
              <td>
               234,256
              </td>
              
            </tr>
            <tr class="table-danger">
              <td>
                3  &nbsp; <img src="assets/images/faces/face2.jpg" class="mr-2" alt="image">
              </td>
              <td>
                Ayşe Nur Çiçek
              <td>
                <label class="badge badge-gradient-danger">Robotik Kodlama</label>
              </td>
              <td>
                30
              </td>
              <td>
                875,234
              </td>
              
            </tr>
            <tr class="table-success">
              <td>
                4 &nbsp; <img src="assets/images/faces/face3.jpg" class="mr-2" alt="image">
              </td>
              <td>
                Ahmet Sarıçoban
              <td>
                <label class="badge badge-gradient-success">Donanım</label>              
              <td>
                25
              </td>
              <td>
                654.224
              </td>
             
            </tr>
            <tr class="table-primary">
              <td>
                5 &nbsp; <img src="assets/images/faces/face6.jpg" class="mr-2" alt="image"> 
              </td>
              <td>
                Dilek Yavuz
              </td>
              <td>
                <label class="badge badge-gradient-dark">Yapay Zeka</label> 
              </td>
              <td>
                15
              </td>  
               <td>
                402,351
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
&nbsp;
&nbsp;
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Kategorilere Göre Makalelere Gelen Beğeni Tablosu(Total)</h4>
      
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Kategori</th>
              <th>Beğeni Sayısı(Total)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <label class="badge badge-gradient-primary">Yazılım</label> &nbsp;</td>
              <td>14.324</td>
                    
            </tr>
            <tr>
              <td><label class="badge badge-gradient-danger">Robotik Kodlama</label> &nbsp;</td>
              <td>12.854</td>
                              
            </tr>
            <tr>
              <td>    <label class="badge badge-gradient-success">Donanım</label> &nbsp;</td>
              <td>5.923</td>
                
            </tr>
            <tr>
              <td> <label class="badge badge-gradient-dark">Yapay Zeka</label>&nbsp;</td>
              <td>9.234</td>
              
             
            </tr>
            <tr>
              <td><label class="badge badge-gradient-warning">Grafik</label> &nbsp;</td>
              <td>2.547</td>
                            
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
&nbsp;
&nbsp;
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Kategorilere Göre Makalelere Gelen Yorum Tablosu(Total)</h4>
      
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Kategori</th>
              <th>Yorum Sayısı(Total)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <label class="badge badge-gradient-primary">Yazılım</label> &nbsp;</td>
              <td>4.324</td>
                      
            </tr>
            <tr>
              <td><label class="badge badge-gradient-danger">Robotik Kodlama</label> &nbsp;</td>
              <td>3.854</td>
                          
            </tr>
            <tr>
              <td><label class="badge badge-gradient-success">Donanım</label> &nbsp;</td>
              <td>1.923</td>
                   
            </tr>
            <tr>
              <td> <label class="badge badge-gradient-dark">Yapay Zeka</label>&nbsp;</td>
              <td>2.543</td>
             
             
            </tr>
            <tr>
              <td><label class="badge badge-gradient-warning">Grafik</label> &nbsp;</td>
              <td>845</td>
                            
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Kullanıcıların Favori Yazarları</h4>
        <p class="card-description">
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Kullanıcı
                </th>
                <th>
                  Adı Soyadı
                </th>
                <th>
                  Favori Oranı
                </th>
                <th>
                  Aldığı Favori Sayısı
                </th>
              
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-1">
                  <img src="https://scontent.fadb3-2.fna.fbcdn.net/v/t1.0-9/131391280_2531239417020109_813916734117414682_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_ohc=QpvG6E8KKggAX_vHTM9&_nc_ht=scontent.fadb3-2.fna&oh=508c94e0897a76d0cddf0e8304faa460&oe=60145FEB" alt="image"/>
                </td>
                <td>
                  Furkan Çimili
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  1.234
                </td>
                

              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face2.jpg" alt="image"/>
                </td>
                <td>
                 Ayşe Nur Çiçek
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                   585
                </td>
                

              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face3.jpg" alt="image"/>
                </td>
                <td>
                  Ahmet Sarıçoban
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  458   
                </td>
                

              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face6.jpg" alt="image"/>
                </td>
                <td>
                  Dilek Yavuz
                  
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  325
                </td>
              
  
              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face4.jpg" alt="image"/>
                </td>
                <td>
                  Oğuz Ataç
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  150
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 grid-margin grid-margin-md-5 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Kullanıcıların Favori Kategorileri</h4>
        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Kategori
                </th>
                <th>
                  Favori Oranı
                </th>
                <th>
                  Ziyaret Sayısı
                </th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  <label class="badge badge-gradient-primary">Yazılım</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  1.231.251
                </td>
                
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  <label class="badge badge-gradient-danger">Robotik Kodlama</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  1.012.542
                </td>
               
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  <label class="badge badge-gradient-success">Donanım</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="70" aria-valuemin="70" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  835.645
                </td>
                
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  <label class="badge badge-gradient-dark">Yapay Zeka</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                   562.487
                </td>
               
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  <label class="badge badge-gradient-warning">Grafik</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  320,154
                </td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Kullanıcıların Favori Makaleleri</h4>
        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Makale Adı
                </th>
                <th>
                  Favori Oranı
                </th>
                <th>
                  Okunma Sayısı
                </th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  <label class="badge badge-gradient-primary">Yazılım İle Tanışın</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 84%" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  125.123
                </td>
              
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  <label class="badge badge-gradient-danger">Robotik Kodlamanın Geleceği</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  101.123
                </td>
               
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  <label class="badge badge-gradient-success">Donanım ile Yeni Gelişmeler</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="70" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  85.645
                </td>
                
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  <label class="badge badge-gradient-dark">Yapay Zekanın Kullanım Alanları</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                   54.234
                </td>
                
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  <label class="badge badge-gradient-warning">Adobe Photoshop ile Tasarla</label>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  32,154
                </td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<nav id="uyesidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage()}">
  <div class="sidebar-content">
      <div class="sidebar-header">
        <a href="/sidebaruye">Yönetici Veri Paneli(Genel)</a>
      </div>

      <div class="sidebar-profile">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://furkancimili.ml/wp-content/uploads/2020/10/cropped-WebLogo.jpg" alt="User picture">
        
        </div>
        <div class="user-info">
          <b>{{adsoyad}}</b>
          <span class="user-role">Yazar</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Aktif</span>
          </span>
        </div>
      </div>
      
        
      <div class="sidebar-menu">
        <ul>
          <li class="nav-item" [ngClass]="{ 'active':sidebaruye.isActive }">
            <h4>  <a class="nav-link" routerLink="/sidebaruye" routerLinkActive #sidebaruye="routerLinkActive">
                 <span class="menu-title">Ana Sayfa</span>
                 &nbsp;<i class="mdi mdi-home"></i>
               </a></h4> 
             </li>
        <li class="nav-item" [ngClass]="{ 'active':uyepaneli.isActive }">
       <h4>  <a class="nav-link" routerLink="/uyepaneli" routerLinkActive #uyepaneli="routerLinkActive">
            <span class="menu-title">Veri Paneli</span>
            &nbsp;<i class="mdi mdi-chart-arc"></i>
          </a></h4> 
        </li>
        <li class="nav-item" [ngClass]="{ 'active': uyegrafikler.isActive }">
       <h4>   <a class="nav-link" routerLink="/uyegrafikler" routerLinkActive #uyegrafikler="routerLinkActive">
            <span class="menu-title">Grafik Tabloları(Total)</span>
            &nbsp;  <i class="mdi mdi-chart-areaspline"></i>
          </a></h4>
        </li>
       
       
        <li class="nav-item" [ngClass]="{ 'active': uyetablolar.isActive }">
       <h4>   <a class="nav-link" routerLink="/uyetablolar" routerLinkActive #uyetablolar="routerLinkActive">
            <span class="menu-title">Veri Tabloları(Total)</span>
            &nbsp;  <i class="mdi mdi-table-large menu-icon"></i> 
          </a></h4>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': uyeformlar.isActive }">
         <h4> <a class="nav-link" routerLink="/uyeformlar" routerLinkActive #uyeformlar="routerLinkActive">
            <span class="menu-title">Formlar</span>
            &nbsp;  <i class="mdi mdi-format-list-bulleted menu-icon"></i> 
          </a></h4>
        </li>     
        <li class="nav-item" [ngClass]="{ 'active': uyemakaleler.isActive }">
          <h4> <a class="nav-link" routerLink="/uyemakaleler" routerLinkActive #uyemakaleler="routerLinkActive">
             <span class="menu-title">Makaleler(Total)</span>
             &nbsp;  <i class="mdi mdi-format-align-center  menu-icon"></i> 
           </a></h4>
         </li>     
         <li class="nav-item" [ngClass]="{ 'active': uyeduyurular.isActive }">
          <h4> <a class="nav-link" routerLink="/uyeduyurular" routerLinkActive #uyeduyurular="routerLinkActive">
             <span class="menu-title">Duyurular(Genel)</span>
             &nbsp;  <i class="mdi mdi-email-alert menu-icon"></i> 
           </a></h4>
         </li>   
         <li class="nav-item" [ngClass]="{ 'active': uyeiletisim.isActive }">
          <h4> <a class="nav-link" routerLink="/uyeiletisim" routerLinkActive #uyeiletisim="routerLinkActive">
             <span class="menu-title">İletişim</span>
             &nbsp;  <i class="mdi mdi-phone-classic menu-icon"></i> 
           </a></h4>
         </li>       
              </ul>
            </div>       
      </div>
      <div class="sidebar-footer">
        <div class="dropdown" dropdown>
    
          <a href="" dropdownToggle>
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-warning notification">5</span>
          </a>
          <div class="dropdown-menu notifications" *dropdownMenu>
            <div class="notifications-header">
              <i class="fa fa-bell"></i>
              Notifications
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">
              <div class="notification-content">
                <div class="icon">
                  <i class="fas fa-check text-success border border-success"></i>
                </div>
                <div class="content">
                  <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. In totam explicabo</div>
                  <div class="notification-time">
                    6 minutes ago
                  </div>
                </div>
              </div>
            </a>
            <a class="dropdown-item" href="">
              <div class="notification-content">
                <div class="icon">
                  <i class="fas fa-exclamation text-info border border-info"></i>
                </div>
                <div class="content">
                  <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. In totam explicabo</div>
                  <div class="notification-time">
                    Today
                  </div>
                </div>
              </div>
            </a>
            <a class="dropdown-item" href="">
              <div class="notification-content">
                <div class="icon">
                  <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
                </div>
                <div class="content">
                  <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. In totam explicabo</div>
                  <div class="notification-time">
                    Yesterday
                  </div>
                </div>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center" href="">View all notifications</a>
          </div>
        </div>
        <div class="dropdown" dropdown>
          <a href="#" dropdownToggle>
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
          </a>
          <div class="dropdown-menu messages" *dropdownMenu>
            <div class="messages-header">
              <i class="fa fa-envelope"></i>
              Messages
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">
              <div class="message-content">
                <div class="pic">
                  <img src="assets/img/user.jpg" alt="">
                </div>
                <div class="content">
                  <div class="message-title">
                    <strong> Jhon doe</strong>
                  </div>
                  <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. In totam explicabo</div>
                </div>
              </div>
    
            </a>
            <a class="dropdown-item" href="">
              <div class="message-content">
                <div class="pic">
                  <img src="assets/img/user.jpg" alt="">
                </div>
                <div class="content">
                  <div class="message-title">
                    <strong> Jhon doe</strong>
                  </div>
                  <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. In totam explicabo</div>
                </div>
              </div>
    
            </a>
            <a class="dropdown-item" href="">
              <div class="message-content">
                <div class="pic">
                  <img src="assets/img/user.jpg" alt="">
                </div>
                <div class="content">
                  <div class="message-title">
                    <strong> Jhon doe</strong>
                  </div>
                  <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. In totam explicabo</div>
                </div>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center" href="#">View all messages</a>
    
          </div>
        </div>
        <div class="dropdown" dropdown>
          <a href="" dropdownToggle>
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
          </a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" href="">My profile</a>
            <a class="dropdown-item" href="">Help</a>
            <a class="dropdown-item" href="">Setting</a>
          </div>
        </div>
        <div>
          <a href="giris">
            <i class="fa fa-power-off" (click)="OturumKapat()"
            *ngIf="fbServis.OturumKontrol()"></i>
          </a>
        </div>
      </div>
    </nav>
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Yönetici Veri Paneli</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">İçerik <a href="https://furkancimili.ml/" target="_blank"> Yönetici Paneli</a>Sayfası<a href="https://furkancimili.ml/" target="_blank">furkancimili.ml</a></span>
      </div>
    </footer>
    
    
    
    