<div class="d-flex align-items-center auth px-" >
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-center py-2 px-2 px-sm-2">
        <div class="brand-logo">
          <img src="assets/images/WebLogo.jpg" alt="logo">
        </div>       

        <div class="card-header">
          <h3>Merhabalar,Yönetici Veri Paneline Hoşgeldiniz</h3><br>
          <h5 class="font-weight-light">Panel´de Nerede Oturum Açmak İstiyorsunz?</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="text-center mt-4 font-weight-light">  
            
            <button class="btn btn-outline-facebook auth-form-btn"  a routerLink="/admingiris">Admin Oturum Aç</button>
            <button class="btn btn-outline-google auth-form-btn"  a routerLink="/login" >Yazar Oturum Aç</button> 
            <br> <br>
            Hesabınız yok mu? <a routerLink="/register" class="text-primary">Oluşturmak İçin</a>
          </div>  
          </div>             
        </div>
      </div>
       
    </div>
  </div>
</div>